/* Universal 
-------------------------------------------------------------------------*/
* {
	color: red;
}

/* Global styles
------------------------------------------------------------------------ */
body {
	color: #343434;
	margin: 0;
  	padding: 0;
}
.content-wrap {
	width: 800px;
	margin: 0 auto;
}

/* Type 
-------------------------------------------------------------------------*/
h1 {
	color: blue;
}
h2 {
	color: pink;
}

a:link {
	color: orchid;
}
a:hover {
	color: white;
	border-color: black;
}
a:focus {
	color: white;
	border-color: black;
}
a:visited {
	color: purple;
}

/* Class 
-------------------------------------------------------------------------*/
.fancy {
	font-style: italic;
}
.intro {
	font-size: 10px;
}

.navbar {
	background-color: orange;
}
.menu {
	background-color: aquamarine;
}
.contacts {
	background-color: blueviolet;
}
.statement {
	background-color: yellowgreen;
}
.tricks {
	background-color: palevioletred
}
.experience {
	background-color: goldenrod;
}
.additional {
	background-color: indigo;
}
.quotation {
	background-color: burlywood;
}

/* ID 
-------------------------------------------------------------------------*/
#container {
	text-align: center;
}